<#include "/commons/page_layout.html"/>
<@html title="系统角色"></@html>
<@body>
<div class="page-header">
    <h1>菜单管理 </h1>
</div>
<#list partition as menus>
    <#list menus as menu>
${menu.menuName}
    </#list>
</#list>
<div class="row">
    <#list partition as menus>
    <div class="col-sm-6">
        <div class="tabbable tabs-top">
            <ul class="nav nav-tabs" id="myTab3">
                <#list menus as menu>


                    <li class="active">
                        <a data-toggle="tab" href="#home3">
                            <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                            ${menu.menuName}
                        </a>
                    </li>
                </#list>
            </ul>

            <div class="tab-content">
                <div id="home3" class="tab-pane in active">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                </div>

                <div id="profile3" class="tab-pane">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                </div>

                <div id="dropdown13" class="tab-pane">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
                </div>
            </div>
        </div>
    </div><!-- /.col -->
    </#list>
    <div class="vspace-6-sm"></div>

</div>
</@body>