  #couponRoleTable{font-size:12px;}

#activityTable{font-size:12px;}

#articalTable{font-size:12px;}

#articalClassTable{font-size:12px;}

#userTable{font-size:12px;}

#departmentTable{font-size:12px;}

#adminAccountListTab{font-size:12px;}

#adminRoleListTab{font-size:12px;}

#goodsTable{font-size:12px;}

#couponRecordable{font-size:12px;}

#tableList{font-size:12px;}

#oilTable{font-size:12px;}

#groupTableList{font-size:12px;}

#goodsListTable{font-size:12px;}

#categoryListTab{font-size:12px;}

#posListTable{font-size:12px;}

#merchatListTable{font-size:12px;}

#groupListTable{font-size:12px;}

#merchantPrepayTradeLogListTable{font-size:12px;}

#merchatUserListTable{font-size:12px;}

#oilCategoryTable{font-size:12px;}

#areaOilPriceTable{font-size:12px;}

#historyOilPriceTable{font-size:12px;}

#merhantOrderTable{font-size:12px;}

#planTable{font-size:12px;}

#publishOilPriceTable{font-size:12px;}

#viewOilPriceTable{font-size:12px;}

#orderSaleTable{font-size:12px;}
#storeTypeTable{font-size:12px;}
#userbankcardListTab{font-size:12px;}
#userOrderTable{font-size:12px;}
#userAccountTable{font-size:12px;}
#simple-table{font-size:12px;}
#userdrawListTab{font-size:12px;}
#drawWarningListTab{font-size:12px;}
#userListTab{font-size:12px;}
#oilCardRechargeTable{font-size:12px;}

#easyOilPaybackLogTable{font-size:12px;}
#oilStoreDetailTable{font-size:12px;}
#useroilcardListTab{font-size:12px;}

#userOilDetailTable{font-size:12px;}
#userOilAmountTable{font-size:12px;}
#userEasyOilTable{font-size:12px;}
#userOilCardRechargeTable{font-size:12px;}
#consultTable{font-size:12px;}
#oilPredictTable{font-size:12px;}
#blocInfoTable{font-size:12px;}
#accountIndexTable{font-size:12px;}
#dataTable{font-size:12px;}
#userAccountLogTable{font-size:12px;}
#blocUserTable{font-size:12px;}
#oilCategoryTable{font-size:12px;}
#chognzhijilu{font-size:12px;}
#userScoreLogTable{font-size:12px;}
#userGrowthLogTable{font-size:12px;}
#mebershiGradeListTab{font-size:12px;}
#orderDetailTable{font-size:12px;}
#payTable{font-size:12px;}
#merchantAccountTable{font-size:12px;}
#merchantDetailTable{font-size:12px;}
#mainCardListTab{font-size:12px;}
#mainCardListTab{font-size:12px;}
#statisticTable{font-size:12px;}
#statisticTable1{font-size:12px;}
#statisticTable2{font-size:12px;}
#simple-table{font-size:12px;}
#childCardTradeDataTable{font-size:12px;}
#moneyCenterTable{font-size:14px;}
#cardRechargeTable{font-size:12px;}
#selfLeftingTable{font-size:12px;}
#childOrderTable{font-size:12px;}
#cardOrderBatchTable{font-size:12px;}
#mainCardOrderTable{font-size:12px;}
#exclusiveTable{font-size:12px;}
#vipLevelScaleTable{font-size:12px;}
#userAgentTable{font-size:12px;}
#userAgentInfoTable{font-size:12px;}
#cashBackTotalTable{font-size:12px;}
#agentCashBackTable{font-size:12px;}