<div class="sidebar responsive ace-save-state" id="sidebar" data-sidebar="true" data-sidebar-scroll="true"
     data-sidebar-hover="true">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>
    <div id="sidebar-shortcuts" class="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
            <button class="btn btn-success" id="yui_3_5_1_1_1546046357832_92"><i class="ace-icon fa fa-shopping-cart"
                                                                                 id="yui_3_5_1_1_1546046357832_93"></i>
            </button>
            <button class="btn btn-info" id="yui_3_5_1_1_1546046357832_97"><i class="ace-icon fa fa-user"
                                                                              id="yui_3_5_1_1_1546046357832_98"></i>
            </button>
            <button class="btn btn-warning" id="yui_3_5_1_1_1546046357832_102"><i class="ace-icon fa fa-users"
                                                                                  id="yui_3_5_1_1_1546046357832_103"></i>
            </button>
            <button class="btn btn-danger" id="yui_3_5_1_1_1546046357832_107"><i class="ace-icon fa fa-cog"></i>
            </button>
        </div>
        <div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->
    <ul class="nav nav-list leftMenu" style="top: 0px;" id="yui_3_5_1_1_1546046357832_84">
        <li class="" id="yui_3_5_1_1_1546046357832_83"><a class="dropdown-toggle" href="#"
                                                              id="yui_3_5_1_1_1546046357832_82"> <i
                class="menu-icon fa fa-desktop"></i> <span class="menu-text" id="childMenus">   </span> <b
                class="arrow fa fa-angle-down"></b> </a> <b class="arrow"></b>
            <ul class="submenu nav-show" style="display: none;">
                <!--<li class="active"><a href="http://test.admin.egcard.cn/user/userListPage"> <i
                        class="menu-icon fa fa-caret-right" ></i>用户列表</a> <b class="arrow"></b></li>
                <li><a href="http://test.admin.egcard.cn/membershipGrade/membershipGradeRule"> <i
                        class="menu-icon fa fa-caret-right"></i>会员等级</a> <b class="arrow"></b></li>
                <li><a href="http://test.admin.egcard.cn/rankIntegralRule/toOrderRankIntegralRule"> <i
                        class="menu-icon fa fa-caret-right"></i>等级积分规则</a> <b class="arrow"></b></li>
                <li><a href="http://test.admin.egcard.cn/userCarValid/toPage"> <i
                        class="menu-icon fa fa-caret-right"></i>车主认证</a> <b class="arrow"></b></li>
                <li><a href="http://test.admin.egcard.cn/agentLevel/toPage"> <i class="menu-icon fa fa-caret-right"></i>个人代理等级</a>
                    <b class="arrow"></b></li>
                <li><a href="http://test.admin.egcard.cn/businessLevel/toBusinessLevelPage"> <i
                        class="menu-icon fa fa-caret-right"></i>代理商等级</a> <b class="arrow"></b></li>-->
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->
    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
        <i data-icon2="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left"
           class="ace-save-state ace-icon fa fa-angle-double-left" id="sidebar-toggle-icon"></i>
    </div>
</div>