<div class="sidebar h-sidebar navbar-collapse collapse ace-save-state" id="sidebar2asd" data-sidebar="true"
     data-sidebar-scroll="true" data-sidebar-hover="true">
    <ul class="topMenu nav nav-list" style="top: 0px;">
    </ul>

    <!-- /.nav-list -->
</div>
<script id="accountListTmpl" type="text/x-jquery-tmpl">
  {{each(i,item) data.result}}
                 <li class="hover hover_a">
            <a class="" href="#" name = attr_menu_id  attr_menu_id ={{= menuId}}><i class="menu-icon fa {{= fontaweCss}}"></i><span class="menu-text">  {{= menuName}}</span></a>
        </li>
        {{/each}}
</script>

<script type="text/javascript">
    $(document).ready(function () {


        var allMenus = [];
        $.ajax({
            url: web.basePath + '/user/getPermission',
            type: 'post',
            asyc:false,
            dataType: 'json',
            success: function (data) {
                if (data.resCode != 0) {
                    alert(data.msg);
                    return false;
                }
                allMenus = []
                allMenus.push(data);
                renderData(data);
                menuAutoCheck();
            }

        });
        //顶部菜单点击事件
        $(document).on('click','.topMenu li ',function(){
            $(this).siblings().removeClass("active");
            $(this).addClass("active");
            //自动加载第一个菜单
            $(".nav li").addClass("open")
            $(".submenu").css('display','block');
//          $(".submenu li a i").removeClass();


        });
        //子菜单点击事件
        $(document).on('click','a[name="child_attr_name"]',function(){

            var url = $(this).attr("attr_url");
            var parentId = $(this).attr("parentId");

            window.location.href =web.basePath+url+"?tetx="+parentId;

        })
        $(document).on('click','.topMenu li a',function(){

            var menuId = $(this).attr("attr_menu_id");
            var parentMenuText = $(this).text();
            var childMenus= [];
            $("#childMenus").text(parentMenuText);
            $.each(allMenus,function (i,n) {
                $.each(n.result,function (i,n) {
                    if(n.menuId==menuId){
                        childMenus.push(n.childs)
                        return;
                    }
                })
            })
            var html = "";
            $.each(childMenus,function (i,n) {
                $.each(n,function (i,n) {
                    console.log(n)
                    html = html + '<li class="" name="li"> '+'<a parentId="'+n.parentMenuId+'" href="#" attr_url="'+n.reqUrl+'" name="child_attr_name">'+'<i class="menu-icon fa fa-caret-right" >'+
                        '</i>'+n.menuName+'</a>'+'<b class="arrow">'+'</b>'+'</li>';
                })
            });
            $(".submenu").html(html)

            var  webUrl =$("li[name='li'] a:first").attr('attr_url');
//            window.location.href =web.basePath+webUrl;
        })

    });
    function renderData(data) {
        $("#accountListTmpl").tmpl({"data": data}).appendTo($(".topMenu"));
    }

    //菜单自动选择
    function menuAutoCheck(){
        console.log('bbbbbbbbbb')
        var webUrl = document.URL;
        var num=webUrl.lastIndexOf('x')
//        alert(num)
        var last_num=webUrl.substr(num+2,1)
//        var arrays=[];
//        arrays=[];
      $(".hover_a a").each(function(){
          var attr_num=$(this).attr("attr_menu_id");
         if(attr_num==last_num){
             $(this).parents(".hover_a").siblings().removeClass("active");
             $(this).parents(".hover_a").addClass("active");
//             $(this).parents(".hover_a").addClass("active").siblings("hover_a").removeClass("active");
             $(".hover_a").click();
         }

        });

//        alert(last_num);
//       $.each(arrays,function (i,n) {
//           if(n==last_num){
//               $('')
//           }
//       })

    }
</script>

