<#include "/commons/page_layout.html"/>
<@html title="系统角色"></@html>
<link rel="stylesheet" href="/mingqian/css/tableStyle.css">
<@body>
<div class="page-header">
    <h1>角色管理</h1>
</div>

<div class="row">
    <div class="col-sm-3">
        <button class="btn btn-info" type="button" id="addAdminRole"><i class="ace-icon fa fa-plus bigger-125"></i>添加角色</button>
    </div>
    <div class="col-sm-3 col-sm-offset-3">
        <input type="text" id="roleName" class="form-control search-query" placeholder="角色名称"/>
    </div>
    <div class="col-sm-3">
        <span class="input-group-btn"> <button type="button" class="btn btn-inverse btn-white" id="select">查询 </button> </span>
    </div>

</div>
<hr>
<!--<div style="margin-left:20px;margin-bottom:10px;" class="row text-left">
    <button class="btn btn-info" type="button" onclick="window.location.href='${config.webBase}/adminRole/toAddRole'"><i class="ace-icon fa fa-plus bigger-125"></i>添加角色</button>
</div>-->
<div class="row">
    <table width="100%" cellspacing="0" id="adminRoleListTab" class="table table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;">
        <thead>
        <tr role="row">
            <th class="text-center">序号</th>
            <th class="text-center">角色名称</th>
            <th class="text-center">角色描述</th>
            <th class="text-center">创建时间</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="5"><div class="text-center">暂无数据！</div></td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/dataTable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/dataTable/js/dataTables.bootstrap.js"></script>
<script src="/assets/js/bootbox.js"></script>
<script src="/mingqian/js/adminRole/adminRole.js"></script>
</@body>
