<#include "/commons/page_layout.html"/>
<@html title="首页"></@html>
<@body>


<h3>欢迎使用mingqian--${rc.contextPath}后台系统！</h3>
<div class="space-12"></div>
<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 日期 </font></font></div>

        <div class="profile-info-value">
            <span class="editable editable-click" id="username"><font style="vertical-align: inherit;"><font id="day" style="vertical-align: inherit;">alexdoe</font></font></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 农历 </font></font></div>

        <div class="profile-info-value">
            <i class="fa fa-map-marker light-orange bigger-110"></i>
            <span class="editable editable-click" id="country"><font style="vertical-align: inherit;"><font id="nongli" style="vertical-align: inherit;">荷兰阿姆</font></font></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 岁次 </font></font></div>

        <div class="profile-info-value">
            <span class="editable editable-click" id="age"><font style="vertical-align: inherit;"><font  id="suici" style="vertical-align: inherit;">38</font></font></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 宜 </font></font></div>

        <div class="profile-info-value">
            <span class="editable editable-click" id="signup"><font style="vertical-align: inherit;"><font id="yi" style="vertical-align: inherit;"></font></font></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 忌 </font></font></div>

        <div class="profile-info-value">
            <span class="editable editable-click" id="login"><font style="vertical-align: inherit;"><font id="ji" style="vertical-align: inherit;">3小时前</font></font></span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 冲 </font></font></div>

        <div class="profile-info-value">
            <span class="editable editable-click" id="about"><font style="vertical-align: inherit;"><font id="chong" style="vertical-align: inherit;">可编辑为所见即所得</font></font></span>
        </div>
    </div>
</div>
</@body>
<script type="text/javascript" src="/mingqian/js/adminIndex/adminIndex.js"></script>
